/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEF0E5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.info-section {
    width: calc(50% - 10px);
    padding: 20px;
    background-color: #B6C4B6;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
    margin-right: 20px; /* Increased margin for better separation */
    margin-bottom: 20px; /* Added margin at the bottom */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    display: inline-block;
}

.info-section:last-child {
    margin-right: 0;
}

.info-section h3 {
    margin-bottom: 10px;
    color: #163020; /* Match your header color */
}

.info-section ul {
    padding-left: 20px;
    color: #304D30; /* Match your text color */
}

.icon img {
    width: 100px;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.header {
    text-align: center;
    margin-bottom: 30px;
    color: #163020;
}

.buttons {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #304D30;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
}

.btn:hover {
    background-color: #163020;
}

.summary {
    margin-bottom: 30px;
    text-align: center;
    color: #304D30;
}

.credits {
    text-align: center;
    position: absolute; /* Anchor to bottom */
    bottom: 20px; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 100%; /* Ensure full width */
    font-size: 12px;
    color: #304D30;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-input {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.login-input label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    color:#163020;
}

.login-input input[type="text"],
.login-input input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color:#304D30;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger strong {
    font-weight: bold;
}

/* Dropdown container */
.dropdown {
    width: 100%; /* Set width to match input field width */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #304D30;
    margin-bottom: 10px;
    position: relative; /* Ensure relative positioning for child elements */
}

/* Dropdown select element */
.dropdown select {
    width: calc(100% - 20px); /* Adjust width to match input field width */
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #304D30;
}

/* Dropdown options style */
.dropdown select option {
    background-color: #EEF0E5;
    color: #304D30;
}

/* Dropdown hover effect */
.dropdown select option:hover {
    background-color: #B6C4B6;
}
