{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="icon">
            <img src="{% static 'admin_icon.png' %}" alt="admin_icon">
        </div>
        <div class="header">
            <h2>Welcome back, admin {{username}}!</h2>
        </div>

        <form method="post" class="login-input">
            {% csrf_token %}
            <!-- Stadium update form  -->
            <label for="old_name">Enter old stadium name:</label>
            <input type="text" name="old_name" id="old_name" required>
            <label for="new_name">Enter new stadium name:</label>
            <input type="text" name="new_name" id="new_name" required>
            <button type="submit" name="update_stadium" class="btn">Update Stadium</button>
        </form>
        <br>
        <form method="post" id="add_user_form" class="login-input">
            {% csrf_token %}
            
            <label for="user_type">Select User Type:</label>
            <select name="user_type" id="user_type" class="dropdown">
                <option value="" selected disabled>Select User Type</option>
                <option value="player">Player</option>
                <option value="jury">Jury</option>
                <option value="coach">Coach</option>
            </select>

            <!-- username, password, name, surname, date_of_birth will be common -->
            <br>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <br>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>
            <br>
            <label for="surname">Surname:</label>
            <input type="text" name="surname" id="surname" required>
            <br>
            

            <!-- Additional fields will be dynamically added here -->
            <div id="additional_fields"></div>
            <br>
            <button type="submit" name="add_user" class="btn">Add User</button>
        </form>

    </div>

    <script>
        

        document.getElementById('user_type').addEventListener('change', function() {
            var userType = this.value;
            var additionalFieldsDiv = document.getElementById('additional_fields');
            additionalFieldsDiv.innerHTML = ''; // Clear existing fields

            if (userType === 'player') {
                

                // height and weight will be specific to players
                additionalFieldsDiv.innerHTML = `
                    
                    <label for="team">Select Team:</label>
                    <select name="team" id="team">
                        {% for team_id, team_name in teams %}
                            <option value="{{ team_id }}"> {{team_id}} {{ team_name }}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <label for="position">Select Position:</label>
                    <select name="position" id="position">
                        {% for position_id, position_name in positions %}
                            <option value="{{ position_id }}"> {{position_id}} {{ position_name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    
                    <label for="height">Height:</label>
                    <input type="number" name="height" id="height" required>
                    <br>
                    <label for="weight">Weight:</label>
                    <input type="number" name="weight" id="weight" required>
                    <br>
                    <label for="date_of_birth">Date of Birth:</label>
                    <input type="date" name="date_of_birth" id="date_of_birth" required>
                    <br>
                    
                    
                    <!-- Add more fields specific to players -->
                `;
            } else if (userType === 'jury' || userType === 'coach') {
                // nationality will be specific to jury and coach
                additionalFieldsDiv.innerHTML = `
                    <label for="nationality">Nationality:</label>
                    <input type="text" name= "nationality" id="national" required>
                    <br>
                `;

            } 
        });
    </script>
</body>
</html>