{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Dashboard</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="icon">
            <img src="{% static 'volleyball_player_icon.png' %}" alt="volleyball_player_icon">
        </div>
        <div class="header">
            <h2>Welcome back, {{ username }}!</h2>
        </div>

        <div class="info-section">
            <h3>Your Teammates:</h3>
            <ul>
                {% for teammate in team_mates %}
                    <li>{{ teammate }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="info-section">
            <h3>Average height of the players you've played with the most:</h3>
            <div class="summary">
                <p>{{ average_height }} cm</p>
            </div>
        </div>
    </div>
</body>
</html>
